@model IEnumerable<Category>


@{
    Layout = null;
    int a = 0;
}

<!DOCTYPE html>

<html>

@await Component.InvokeAsync("_HeadPartial")
<body>
    @await Component.InvokeAsync("_NavbarPartial")


    <!--Menu-->
    <div class="agileits-services  py-5" id="menu">
        <div class="container py-md-5">
            <div class="title-content text-center">
                <h6 class="sub-title">Special Menu</h6>
                <h3 class="title-big">Menu combo for you</h3>
            </div>
            <div class="pt-lg-5 pt-4">
                <div class="row menu-body">
                    <!-- Section starts: Appetizers -->
                    @foreach (var item in Model)
                    {
                        a++;

                        if (@item.CategoryID == a)
                        {
                            <div class="col-lg-6 menu-section pr-lg-5">
                                <h3 class="menu-section-title">@item.CategoryName</h3>
                                <!-- Item starts -->
                                @foreach(var item1 in item.Products)
                                {
                                    
                                <div class="menu-item">
                                    <div class="row border-dot no-gutters">
                                        <div class="col-8 menu-item-name">
                                            <h6>@item1.Name</h6>
                                        </div>
                                        <div class="col-4 menu-item-price text-right">
                                            <h6>@item1.Price</h6>
                                        </div>
                                    </div>
                                    <div class="menu-item-description">
                                        <p>@item1.Description</p>
                                    </div>
                                </div>
                                }
                                <!-- Item ends -->
                            </div>
                        }
                    }
                    <!-- Section ends: Appetizers -->
                   
                </div>
            </div>
        </div>
    </div>


    <section class="w3l-footers-20">
        <div class="footers20">
            <div class="container">
                <div class="footers20-content">
                    <div class="d-grid grid-col-4 grids-content">
                        <div class="column">
                            <h4>Adres</h4>
                            <p class="contact-para3">Bilkent, ANKARA - 06200 Beytepe Mahallesi No:23</p>
                            <a href="mailto:hello@w3layouts.com">
                                <p class="contact-mail mt-2">pizza@order.com</p>
                            </a>
                        </div>
                        <div class="column">
                            <h4>Rezervasyon Yap</h4>
                            <p>Yerini ayırt, gelince bekleme.</p>
                            <a href="tel:+90-312-68-11">
                                <p class="contact-phone mt-2">+90-312-68-11</p>
                            </a>
                        </div>
                        <div class="column">
                            <h4>Çalışma Günlerimiz</h4>
                            <p>Pazartesi - Cuma</p>
                            <p class="mt-2">09:00 - 22:00</p>
                        </div>
                        <div class="column">
                            <h4>Twitter feed</h4>
                            <a href="blog-single.html">
                                <p>
                                    <span class="fa fa-twitter mr-2"></span>Sıcak baharatlı pizza yemek, dikkate alınması gereken en iyi şeydir.
                                </p>
                            </a>
                            <p class="small mt-2"><span class="fa fa-clock-o"></span> March 25, 2020</p>
                        </div>
                    </div>
                    <div class="d-grid grid-col-3 grids-content1 bottom-border">
                        <div class="columns copyright-grid">
                            <p class="copy-footer-29">
                                © 2020 Pizza Pan. All rights reserved | Designed by <a href="https://w3layouts.com">W3layouts</a>
                            </p>
                        </div>
                        <div class="columns text-right social-grid">
                            <ul class="social">
                                <li><a href="#url"><span class="fa fa-facebook" aria-hidden="true"></span></a></li>
                                <li><a href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a></li>
                                <li><a href="#url"><span class="fa fa-twitter" aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- move top -->
    <button onclick="topFunction()" id="movetop" title="Go to top">
        &#10548;
    </button>
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <!-- /move top -->
    </section>

    <!-- jQuery and Bootstrap JS -->
    <script src="~/pizzapan-starter/assets/js/jquery-3.3.1.min.js"></script>

    <!-- libhtbox -->
    <script src="~/pizzapan-starter/assets/js/lightbox-plus-jquery.min.js"></script>


    <script src="~/pizzapan-starter/assets/js/jquery.magnific-popup.min.js"></script>

    <script src="~/pizzapan-starter/assets/js/counter.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>

    <!-- testimonials owlcarousel -->
    <script src="~/pizzapan-starter/assets/js/owl.carousel.js"></script>
    <script>
        $(document).ready(function () {
            $('.owl-two').owlCarousel({
                loop: true,
                margin: 30,
                nav: false,
                responsiveClass: true,
                autoplay: false,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items: 1,
                        nav: false
                    }
                }
            })
        })
    </script>
    <!-- //script for Testimonials-->
    <!-- script for food-->
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                margin: 0,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    480: {
                        items: 2,
                        nav: true,
                        margin: 20
                    },
                    769: {
                        items: 3,
                        nav: true,
                        margin: 20
                    },
                    1280: {
                        items: 4,
                        nav: true,
                        loop: true,
                        margin: 25
                    }
                }
            })
        })
    </script>
    <!-- //script for food-->
    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->
    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->
    <script src="~/pizzapan-starter/assets/js/bootstrap.min.js"></script>
</body>
</html>